{:projectname "Interfacing Clojure and Kotlin"
 :description "An example of using a library written in Clojure from Kotlin"
 :output-to "docs"
 :toc-filename "index.html"
 :include-readme true
 :theme "sidenotes"}